body{
    font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        padding: 25px;
        
}
h2{
color: blue;
}

.products{
    display: grid;

}

.ice1{
    padding-left: 300px;
    font-size: small;
}

.ice2{
    padding-left: 300px;
    font-size: small;
}

.ipack3{
    padding-left: 300px;
    font-size: small;
}