body{
    background-color: bisque;
    border: 5px solid yellowgreen;
    display:flex; 
}
h2{
color: blue;
}


.fruitp{
position:relative;
margin-top: 400px;
left:200px;
}

.water{
    position:static;
    left: 200px;
    margin-top: 50px;
}
.drpepper{
    position: relative;
    left: 300px;
   margin-top: 50px;

}

.pepsi{
    position: relative;
   left: 150px;
   margin-top: 400px;
}
.mntdew{
    position: relative;
    margin-top: 400px;
    left: 400px;
   
}
.lemonade{
    position: relative;
    left: 200px;
    margin-top: 50px;

}

