body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
a {
    color: rgb(74, 150, 194);
    text-decoration: none;
}
body,ul {
    margin: 0;
    padding: 0;
}
.section{
    display: flex;
    padding: 25px;
    align-items: flex-start;
    justify-content:space-around ;
}
.content{
    flex: 2;
    padding-right: 22px;
    color: #444;
}
h1 {
    text-align: center;
}
/*Styling for Form*/
.form{
    flex: 1; 
    padding: 21px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 11px; 
}
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
/*Styling for Inside of Form*/
label,input,textarea{
    margin-bottom: 10px;
}
input,textarea{
    border: 1px solid rgb(74, 150, 194);
    border-radius: 8px;
    padding: 6px;
    width: 100%;
}
input[type="submit"]{
    color: #fff;
    padding: 11px;
    background-color: deepskyblue;
    border: none;
    border-radius: 4px;
}
input[type="submit"]:hover{
    background-color: rgb(74, 150, 194);
}
label, input, textarea{
    display: block;
    margin-bottom: 9px;
}
/*Styling for Checkbox*/
input[type=checkbox] {
    accent-color: rgb(74, 150, 194);
}