body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 20px;
    margin: 0;
}

.container {
    display: grid;
     gap: 20px;
    width: 80%;
    margin: auto;
}

.location {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.location h3 {
    color: #333;
}

.location p {
    color: #666;
}


