body {
    font-family: "Roboto", sans-serif;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 0;
}

.center {
    width: auto;
    margin: auto;
}

.container {
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.location {
    background: rgba(172,202,250);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(9,49,117, 0.3);
}

.location h3 {
    color: rgba(9,49,117);
    font-style: italic;
    text-align: center;
    
}

.location p {
    color: rgba(9,49,117);
    text-align: center;
}

#container {
    max-width: 350px;
}

h1 {
    color: rgba(9,49,117);
}

h2 {
    color: rgba(9,49,117);
}

@media only screen and (width >768px) {
    .location > div {
        margin: 100%;
    }
    }
    
