body {
    font-family: "Roboto", sans-serif;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 0;
}

.center {
    width: auto;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 600px 600px;
     gap: 20px;
    width: 75%;
    margin: auto;
}

.location {
    background: rgba(172,202,250);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(9,49,117, 0.3);
}

.location h3 {
    color: rgba(9,49,117);
    font-style: italic;
}

.location p {
    color: rgb(2, 19, 49);
}

h1 {
    color: rgba(9,49,117);
}

h2 {
    color: rgba(9,49,117);
}

@media screen and (min-width: 768px) {
    
   
    }
