body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 50px;
}

.test {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    
}

.test > div {
    background-color: rgb(173, 222, 250);
    width: 300px;
    padding: 15px;
}

/*.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.test > div {
    background-color: aqua;
    margin: 10px 20px 10px 5px;
    width: 300px;
    padding: 15px;
}